<div class="row">

    <div id="login-form" class="col-md-4">

        <h3>Login</h3>


        <fieldset class="form-group">

            <label>Username</label>
            <input class="form-control" type="text" ng-model="credentials.username" placeholder="Username"/>

        </fieldset>
        <fieldset class="form-group">
            <label>Password:</label>
            <input class="form-control" type="password" ng-model="credentials.password" placeholder="Password"/>

        </fieldset>


        <button class="btn btn-success" ng-click="login()">Login!</button>
        <button class="btn btn-warning" ng-click="register()">Register!</button>



    </div>

</div>